/************************* Basis *************************/

@font-face {
    font-family: JosefinSlab;
    src: url(../fonts/JosefinSlab-Bold.ttf);
}

body{
    margin: 0;
    background-color: #f2f2f2;
}

header{
    height: 40px;
    background: #464553;
}

#logo{
    margin: 0 6px;
}

#wrapper{
    margin: 40px auto;
    min-height: 500px;
    width: 80%;
    margin-bottom: 80px;
}

footer{
    height: 180px;
    background-color: #464553;
}

/************************* End Basis *************************/
/************************* Menu *************************/

nav ul{
    list-style: none;
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: table-cell;
    float: none;
    width: 20%;
    border-right: 1px solid #D8E9F0;
    border-left: 1px solid #D8E9F0;
    border-bottom: 4px solid #0A91AB;
}

nav ul li a{
    display: block;
    background-color: #464553;
    color: #D8E9F0;
    padding: 10px;
    font-size: 100%;
    font-family: JosefinSlab;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul li a:hover, .cur {
    background-color: #0A91AB;
    color: #D8E9F0;
    text-shadow: #15679c 1px 1px,
    #15679c 2px 2px,
    #15679c 3px 3px,
    #15679c 4px 4px,
    #15679c 5px 5px,
    #15679c 6px 6px;
}

.toggle-nav{
    display: none;
}

/************************* End Menu *************************/
/************************* Content *************************/

#content{
    margin: 0 auto;
    min-height: 400px;
    border-left: 1px solid rgb(218, 218, 218);
    background: #f2f2f2;
    box-shadow: rgb(218, 218, 218) 1px 1px,
    rgb(218, 218, 218) 2px 2px,
    rgb(218, 218, 218) 3px 3px,
    rgb(218, 218, 218) 4px 4px,
    rgb(218, 218, 218) 5px 5px,
    rgb(218, 218, 218) 6px 6px,
    rgb(218, 218, 218) 7px 7px,
    rgb(218, 218, 218) 8px 8px,
    rgb(218, 218, 218) 9px 9px,
    rgb(218, 218, 218) 10px 10px,
    rgb(218, 218, 218) 11px 11px,
    rgb(218, 218, 218) 12px 12px,
    rgb(218, 218, 218) 13px 13px,
    rgb(218, 218, 218) 14px 14px,
    rgb(218, 218, 218) 15px 15px,
    rgb(218, 218, 218) 16px 16px,
    rgb(218, 218, 218) 17px 17px,
    rgb(218, 218, 218) 18px 18px,
    rgb(218, 218, 218) 19px 19px,
    rgb(218, 218, 218) 20px 20px,
    rgb(218, 218, 218) 21px 21px,
    rgb(218, 218, 218) 22px 22px,
    rgb(218, 218, 218) 23px 23px,
    rgb(218, 218, 218) 24px 24px,
    rgb(218, 218, 218) 25px 25px,
    rgb(218, 218, 218) 26px 26px,
    rgb(218, 218, 218) 27px 27px,
    rgb(218, 218, 218) 28px 28px,
    rgb(218, 218, 218) 29px 29px,
    rgb(218, 218, 218) 30px 30px,
    rgb(218, 218, 218) 31px 31px,
    rgb(218, 218, 218) 32px 32px,
    rgb(218, 218, 218) 33px 33px,
    rgb(219, 219, 219) 34px 34px,
    rgb(219, 219, 219) 35px 35px,
    rgb(220, 220, 220) 36px 36px,
    rgb(220, 220, 220) 37px 37px,
    rgb(221, 221, 221) 38px 38px,
    rgb(221, 221, 221) 39px 39px,
    rgb(222, 222, 222) 40px 40px,
    rgb(222, 222, 222) 41px 41px,
    rgb(223, 223, 223) 42px 42px,
    rgb(223, 223, 223) 43px 43px,
    rgb(224, 224, 224) 44px 44px,
    rgb(224, 224, 224) 45px 45px,
    rgb(225, 225, 225) 46px 46px,
    rgb(225, 225, 225) 47px 47px,
    rgb(226, 226, 226) 48px 48px,
    rgb(226, 226, 226) 49px 49px,
    rgb(227, 227, 227) 50px 50px,
    rgb(227, 227, 227) 51px 51px,
    rgb(228, 228, 228) 52px 52px,
    rgb(228, 228, 228) 53px 53px,
    rgb(229, 229, 229) 54px 54px,
    rgb(229, 229, 229) 55px 55px,
    rgb(230, 230, 230) 56px 56px,
    rgb(230, 230, 230) 57px 57px,
    rgb(231, 231, 231) 58px 58px,
    rgb(231, 231, 231) 59px 59px,
    rgb(232, 232, 232) 60px 60px,
    rgb(232, 232, 232) 61px 61px,
    rgb(233, 233, 233) 62px 62px,
    rgb(233, 233, 233) 63px 63px,
    rgb(234, 234, 234) 64px 64px,
    rgb(234, 234, 234) 65px 65px,
    rgb(235, 235, 235) 66px 66px,
    rgb(235, 235, 235) 67px 67px,
    rgb(236, 236, 236) 68px 68px,
    rgb(236, 236, 236) 69px 69px,
    rgb(237, 237, 237) 70px 70px,
    rgb(237, 237, 237) 71px 71px,
    rgb(238, 238, 238) 72px 72px,
    rgb(238, 238, 238) 73px 73px,
    rgb(239, 239, 239) 74px 74px,
    rgb(239, 239, 239) 75px 75px,
    rgb(240, 240, 240) 76px 76px,
    rgb(240, 240, 240) 77px 77px,
    rgb(241, 241, 241) 78px 78px,
    rgb(241, 241, 241) 79px 79px,
    rgb(242, 242, 242) 80px 80px;
}

.divBox{
    /*min-height: 400px;*/
    display: none;
}

.dv{
    padding: 10px 20px;
}

#downloadLinks{
    margin: -10px -20px 20px -21px;
    padding: 40px 0;
    background-color: #FFC045;
}

.center{
    display: block;
    text-align: center;
    margin: 0 auto;
}

/************************* End Content *************************/
/************************* Text *************************/

h1, h2, h3, h4, h5, h6{
    font-family: JosefinSlab;
    text-transform: uppercase;
    color: #0A91AB;
    margin-bottom: 10px;
    font-weight: bold;
}

h1{ font-size: 140%;}
h2{ font-size: 120%;}

hr{
    margin: 0;
    border: 1px solid #0A91AB;
}

p{
    font-family: serif;
    color: #6a6a6a;
    font-size: 100%;
}

a{
    text-decoration: none;
}

/************************* End Text *************************/
/************************* Colours *************************/

.blue{
    color: #0A91AB;
}

.yellow{
    color: #FFC045;
}

/************************* End Colours *************************/
/************************* Image hover effects *************************/

.im {
    display: inline-block;
    width: 330px;
    margin: 4px;
}

.im ul {
    margin: 0;
    padding: 0;
}

.im ul li {
    display: inline-block;
    list-style: none;
}

.image-link {
    position:relative;
    width:330px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color: #0A91AB;
}
.image-link p,.image-link h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:40px;
    position:relative
}

.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-100px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}

/************************* End Image hover effects *************************/
/************************* Buttons *************************/

.btn{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #6a6a6a;
    border: 2px solid #6a6a6a;
    text-decoration: none;
    font-size: 110%;
}

.btn-blue:hover{
    color: #0A91AB;
    background: none;
    border: 2px solid #0A91AB;
}

.btn-blue{
    color: #f2f2f2;
    background: #0A91AB;
    border: 2px solid #0A91AB;
}

.btn-blue-inversion:hover{
    color: #f2f2f2;
    background: #0A91AB;
    border: 2px solid #0A91AB;
}

.btn-blue-inversion{
    color: #0A91AB;
    border: 2px solid #0A91AB;
}

.btn-white-full{
    background: #f2f2f2;
    border: 2px solid #f2f2f2;
    color: #FFC045;
}

.btn-white-full:hover{
    border: 2px dashed #f2f2f2;
    background: none;
    color: #f2f2f2;
}

/************************* End Buttons *************************/


@media screen and (max-width : 768px){
    header {
        display: none;
    }

    #wrapper{
        margin: 0 auto;
        min-height: 500px;
        width: 100%;
    }

    #content{
        box-shadow: none;
    }

    nav ul.active {
        display:none;
    }

    nav ul {
        width:100%;
        display: block;
        background-color: #464553;
    }

    nav ul li{
        display: block;
        width: 100%;
        border: none;
    }

    .toggle-nav {
        width: 100%;
        background-color: #464553;
        display: block;
        min-height: 40px;
    }

    .toggle-nav a{
        display: inline;
        color: #D8E9F0;
        padding: 4px 16px;
        font-size: 140%;
        font-family: JosefinSlab;
        float: right;
        text-decoration: none;
        text-transform: uppercase;
    }
}